{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'css/blog_navigation.css' %}">


</head>

<body>
<div>
<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
        {% for blog_index_page in blog_index_pages %}
            <li class="tabs__item">
                <a href="#" class="tabs__link" onclick="open_index('{% pageurl blog_index_page %}')">{{ blog_index_page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
</div>
<iframe id="index_iframe" style="width: 100%; height: 100%;  border: 0px" src=""></iframe>
<script src='http://cdnjs.cloudflare.com/ajax/libs/responsive-nav.js/1.0.32/responsive-nav.min.js'></script>


<script src="{% static 'js/blog_navigation.js' %}"></script>


</body>

</html>
