{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pure CSS, equal-width navigation tabs with Responsive-nav.js</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'css/blog_navigation.css' %}">


</head>

<body>

<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
        {% for blog_index_page in blog_index_pages %}
            <li class="tabs__item">
                <a href="{% pageurl blog_index_page %}" class="tabs__link">{{blog_index_page.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<script src='http://cdnjs.cloudflare.com/ajax/libs/responsive-nav.js/1.0.32/responsive-nav.min.js'></script>


<script src="{% static 'js/blog_navigation.js' %}"></script>


</body>

</html>
