{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'css/blog_navigation.css' %}">


</head>

<body>
<div>
<nav class="nav-collapse" role="navigation">
    <ul class="tabs primary-nav">
        {% for blog_index_page in blog_index_pages %}
            <li class="tabs__item">
                <a href="{% pageurl blog_index_page %}" class="tabs__link">{{blog_index_page.title}}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<div style="display: flex;clear: both;">
<section style="display:inline-block;width:300px">
    {% for blog_index_page in blog_index_pages %}
    <ul>
        {% for post in blog_index_page.get_children %}
            {% with post=post.specific %}
                <li>
                    <h3><a href="#" style="font-size: 18px;color: darkgray" onclick="open_blog('{% pageurl post %}')">{{ post.title }} </a> <span style="font-size: 16px;color: #777777">{{post.date|date:"Y-m-d H:i"}}</span></h3>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
    {% endfor %}
</section>

<section style="display:inline-block;flex:1">
    <iframe id="blog_iframe" src=""></iframe>
</section>

</div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/responsive-nav.js/1.0.32/responsive-nav.min.js'></script>


<script src="{% static 'js/blog_navigation.js' %}"></script>


</body>

</html>
