{% load static wagtailcore_tags wagtailimages_tags %}

<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/blog_index_page.css' %}">
</head>
<title>{{ page.title }}</title>
<body>
<ul>
    {% for post in blogpages %}
        {% with post=post.specific %}
            <li>
                <h3><a href="{% pageurl post %}">{{ post.title }} </a> <span style="font-size: 14px">{{post.date|date:"Y-m-d H:i"}}</span></h3>
            </li>
        {% endwith %}
    {% endfor %}
</ul>
</body>
</html>
